body {
background: #0e032a;
font-family: "Georgia", serif;
margin: 0;
padding: 0;
color:#44d6d6
}
/* makes the background a dark blue, serif for a written book vibe, what i was inspired by, removes deault spacing and sets default colour */

.container {
max-width: 700px;
margin: 0 auto;
text-align: center;
padding: 40px;
}
/* centers the game, makes it so it doesn't look wide and adds padding for space */

.title {
font-size: 2rem;
margin-bottom: 20px;
color: #44d6d6
}
/* bigger font for title */

#cat-area img {
width: 200px;
margin-bottom: 20px;
}
/* fixes the cat into a decent size and leave space at the bottom */

.hidden {
display: none;
}
/* hides screens */

#dialogue-box {
background:#e47f03;
padding: 20px;
border-radius: 10px;
margin: 20px 0;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
/* gives dialogue a sunset type orange box, with round corners, spacing and soft shadows that's not that noticable tbh */

.choiceBtn {
padding: 12px 20px;
margin: 10px;
border: none;
border-radius: 8px;
background: #ffffff;
cursor: pointer;
font-size: 1rem;
}
/* choice buttons stand out with white, takes away borders, rounded corners also */

.choiceBtn:hover {
background: #44d6d6;
}
/* when you hover over button it makes it blue, so that it's more eye-catching */